.two_layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: .8em;
    font-size: 12px;
}

.two_layout>h4,
.two_layout>p:nth-of-type(3) {
    text-align: right;
}

.figure {
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    /* FADE */
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: .5em 1em;
}

.figure>img {
    width: 100%;
    height: 265px;
}

@media(min-width:320px) and (max-width:768px) {
    .figure,
    .figure>img {
        width: 100%;
        height: max-content;
    }
}